In [33]:
##Importing
from sqlalchemy import create_engine
import pandas as pd
from scipy import stats
import psycopg2
from scipy import stats

In [2]:
#Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'kickstarterprojects'

#Use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

In [3]:
houseprices_df = pd.read_sql_table("houseprices", con = engine)

engine.dispose()
## Error:   requested table(s) not available in Engine(postgresql://dsbc_student:***@142.93.121.174:5432/kickstarterprojects): (houseprices)

ValueError: Table houseprices not found

In [11]:
houseprices = pd.read_csv("houseprices.csv")

In [9]:
pwd

'/Users/krishnadevabhaktuni/Desktop/Thinkful/Descriptive stats'

In [10]:
cd '/Users/krishnadevabhaktuni/Desktop/Thinkful'

/Users/krishnadevabhaktuni/Desktop/Thinkful

In [12]:
houseprices.head()

,id,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,...,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype,salecondition,saleprice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [14]:
houseprices.info()
## houseprices contain 81 columns and 1460 rows and there are some missing vallues 
len(houseprices)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
id               1460 non-null int64
mssubclass       1460 non-null int64
mszoning         1460 non-null object
lotfrontage      1201 non-null float64
lotarea          1460 non-null int64
street           1460 non-null object
alley            91 non-null object
lotshape         1460 non-null object
landcontour      1460 non-null object
utilities        1460 non-null object
lotconfig        1460 non-null object
landslope        1460 non-null object
neighborhood     1460 non-null object
condition1       1460 non-null object
condition2       1460 non-null object
bldgtype         1460 non-null object
housestyle       1460 non-null object
overallqual      1460 non-null int64
overallcond      1460 non-null int64
yearbuilt        1460 non-null int64
yearremodadd     1460 non-null int64
roofstyle        1460 non-null object
roofmatl         1460 non-null object
exterior1st      1460 non-null object
exterior2nd      1460 non-null object
masvnrtype       1452 non-null object
masvnrarea       1452 non-null float64
exterqual        1460 non-null object
extercond        1460 non-null object
foundation       1460 non-null object
bsmtqual         1423 non-null object
bsmtcond         1423 non-null object
bsmtexposure     1422 non-null object
bsmtfintype1     1423 non-null object
bsmtfinsf1       1460 non-null int64
bsmtfintype2     1422 non-null object
bsmtfinsf2       1460 non-null int64
bsmtunfsf        1460 non-null int64
totalbsmtsf      1460 non-null int64
heating          1460 non-null object
heatingqc        1460 non-null object
centralair       1460 non-null object
electrical       1459 non-null object
firstflrsf       1460 non-null int64
secondflrsf      1460 non-null int64
lowqualfinsf     1460 non-null int64
grlivarea        1460 non-null int64
bsmtfullbath     1460 non-null int64
bsmthalfbath     1460 non-null int64
fullbath         1460 non-null int64
halfbath         1460 non-null int64
bedroomabvgr     1460 non-null int64
kitchenabvgr     1460 non-null int64
kitchenqual      1460 non-null object
totrmsabvgrd     1460 non-null int64
functional       1460 non-null object
fireplaces       1460 non-null int64
fireplacequ      770 non-null object
garagetype       1379 non-null object
garageyrblt      1379 non-null float64
garagefinish     1379 non-null object
garagecars       1460 non-null int64
garagearea       1460 non-null int64
garagequal       1379 non-null object
garagecond       1379 non-null object
paveddrive       1460 non-null object
wooddecksf       1460 non-null int64
openporchsf      1460 non-null int64
enclosedporch    1460 non-null int64
threessnporch    1460 non-null int64
screenporch      1460 non-null int64
poolarea         1460 non-null int64
poolqc           7 non-null object
fence            281 non-null object
miscfeature      54 non-null object
miscval          1460 non-null int64
mosold           1460 non-null int64
yrsold           1460 non-null int64
saletype         1460 non-null object
salecondition    1460 non-null object
saleprice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

1460

In [18]:
##How many distinct values are there in the mszoning column?
houseprices['mszoning'].nunique()

5

In [21]:
##How many distinct values are there in the street column?
houseprices['street'].nunique()

2

In [22]:
##Describe the range of the saleprice.
sale_max = houseprices['saleprice'].max()
sale_min =houseprices['saleprice'].min()
range = sale_max- sale_min
range

720100

In [23]:
##Describe the range of the lotarea.
lotarea_max = houseprices['lotarea'].max()
lotarea_min = houseprices['lotarea'].min()
range = lotarea_max - lotarea_min
range

213945

In [36]:
#Question #8- correlation between the lotarea and saleprice 
stats.pearsonr(houseprices['lotarea'],houseprices['saleprice'])
##It appears that there is positive correlation and the correlation is weak between Lotarea and Saleprice

(0.2638433538714057, 1.1231391549193063e-24)

In [34]:
#Is there a statistically significant difference between the prices of houses that have an open porch 
#versus houses that do not have an open porch? How did you handle null values? 
#Hint: use the variable openporchsf. You will need to transform this variable so that it can be used in a t-test.
stats.pearsonr(houseprices['openporchsf'],houseprices['saleprice'])

(0.31585622711605527, 3.49337362309738e-35)

In [43]:
#Question number 2
#Finding missing values
houseprices_null = houseprices.isnull()
houseprices_null.sum()
#it looks like the only column with missing values is lotfrontage
#ignoring missing values as we are not interested in lotfrontage
# we are only interested in openporch vs saleprice

id                 0
mssubclass         0
mszoning           0
lotfrontage      259
lotarea            0
                ...
mosold             0
yrsold             0
saletype           0
salecondition      0
saleprice          0
Length: 81, dtype: int64

In [40]:
len(houseprices)

1460

In [46]:
#Transforming open porch variable
#Houses with no open porch
zero_openporch = houseprices[houseprices.openporchsf == 0]

In [51]:
len(zero_openporch)

656

In [54]:
#houses with openporch
openporch = houseprices[houseprices.openporchsf != 0]
len(openporch)

804

In [56]:
#Running a t-test
stats.ttest_ind(openporch['saleprice'], zero_openporch['saleprice'])
##There is a 17.3 std deviations between these means. Pvalue is extremely small, which means the sale price
#is significantly different for houses with and without openporch

Ttest_indResult(statistic=17.31355834212178, pvalue=3.209770265256579e-61)